//
   Created by Win on 2017/3/1.
extends layout
block otherHead
    link(rel="stylesheet",href="/js/datepicker/datepicker.css",type="text/css")
    link(rel="stylesheet",href="/js/slider/slider.css",type="text/css")
    link(rel="stylesheet",href="/js/chosen/chosen.css",type="text/css")
    style.
        #tijiao2 {
            margin-left: 20%;
            margin-top: 5%;
        }
block body
    body
        section.vbox
            section
                section.hbox.stretch
                    section#content
                        section.scrollable.padder
                            div.m-b-md
                                h3.m-b-none 修改密码
                            div.container(style="width:580px")
                                div.col-sm-12
                                    form.form-horizontal(data-validate="parsley")
                                        section.panel.panel-default
                                            header.panel-heading.font-bold 修改密码
                                            div.panel-body
                                                div.form-group
                                                    label.col-sm-2.control-label 账号
                                                    div.col-sm-10
                                                        input(readonly="readonly",class="form-control",value="#{user.userAccount }")
                                                div.form-group
                                                    label.col-sm-2.control-label 旧密码
                                                    div.col-sm-10
                                                        input(id="op",type="password",class="form-control",data-required="true")
                                                div.form-group
                                                    label.col-sm-2.control-label 新密码
                                                    div.col-sm-10
                                                        input(id="pwd",type="password",class="form-control",data-required="true")
                                                div.form-group
                                                    label.col-sm-2.control-label 确认密码
                                                    div.col-sm-10
                                                        input(type="password",class="form-control",data-equalto="#pwd",data-required="true")
                                                div#tijiao2.col-sm-10
                                                    button(type="submit",class="btn btn-s-md btn-info btn-rounded") 提交
                                                    button(type="reset",class="btn btn-s-md btn-info btn-rounded") 取消

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/file-input/bootstrap-filestyle.min.js")
    <!-- parsley -->
    script(src="/js/parsley/parsley.min.js")
    script.
        $("button[type=submit]").click(function (event) {
            var a = $('form').parsley();
            var tag = true;
            var items = a.items;
            for (var i = 1; i < items.length; i++) {
                var item = items[i];
                var itemTag = item.validate();
                if (!itemTag) {
                    tag = itemTag;
                    break;
                }
            }
            if (tag) {
                $.ajax({
                    url: "alterPassword",
                    type: "post",
                    data: {
                        "oldPassword": $('#op').val(),
                        "newPassword": $('#pwd').val()
                    },
                    success: function (ret) {
                        if (ret == "e") {
                            alert("未知错误，修改失败");
                        } else if (ret == "f") {
                            alert("旧密码错误，修改失败");
                        } else if (ret == "n") {
                            alert("账号未登录，请登录后再来修改密码");
                        } else {
                            alert("修改成功");
                            window.parent.location.href = "login";
                        }
                    }
                });
            }
            event.preventDefault();
        });