doctype html
html.app(lang="en")
    head
        - var desc = ["Music","音乐","yinyue","music","听歌","歌曲"]
        meta(name="description",content=desc)
        title= title + ' - ' + '一七音乐'
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet",href="/js/jPlayer/jplayer.flat.css",type="text/css")
        link(rel="stylesheet",href="/css/bootstrap.css",type="text/css")
        link(rel="stylesheet",href="/css/animate.css",type="text/css")
        link(rel="stylesheet",href="/css/font-awesome.min.css",type="text/css")
        link(rel="stylesheet",href="/css/simple-line-icons.css",type="text/css")
        link(rel="stylesheet",href="/css/font.css",type="text/css")
        link(rel="stylesheet",href="/css/app.css",type="text/css")
        block otherHead
    block body
