//
   Created by Win on 2017/3/17.
extends layout
block body
    body.bg-info.dker
        section#content(class="m-t-lg wrapper-md animated fadeInDown")
            div.container.aside-xl
                a.navbar-brand.block(href="index")
                    span.h1.font-bold 一七
                section.m-b-lg
                    header.wrapper.text-center
                        strong 欢迎成为 17 一员,让我们一起感受音乐的魅力
                    a(href="login",class="btn btn-lg btn-info btn-block btn-rounded") 去登录
         footer#footer
            div.text-center.padder.clearfix
                img(src="/images/m43.jpg")
                p
                    small xxxxxx
                        br
                        | &copy; 2017