body{
    font-size: 12px;
    color: #788188;
    font-family: Arial, Helvetica, sans-serif;
}
body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
    padding: 0;
    margin: 0;
}
div{
    margin: 0px;
    padding: 0px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #788188;
}
a:hover{
    text-decoration:underline;
}
#content{
    height: 100%;
    width: 100%;

}
.g-bd2{
    width: 990px;
    min-height:750px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    background: url("../images/wrap2.png") repeat-y center 0;
}
.c_left{
    position: relative;
    float: left;
    width: 18%;
    height:100%;
    background-color: #f9f9f9;

}
.c_right{
    position: relative;
    float: left;
    width:82%;
    height: 100%;


}
.c_l_content{
    margin-top: 35px;
    padding: 0 10px 40px;
    float: left;
    padding: 0 10px 40px;
}
.c_r_content{
    margin-top: -40px;
    padding: 40px;
}
.blk {
    margin: 5px auto;
    border-top: 1px solid #d3d3d3;
    padding-top: 16px;
    border-top: 1px solid #d3d3d3;

}
.tit {
    height: 25px;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}
.f-cb{
    padding-left:0px;
}
.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.c_l_content li a {
    width: 133px;
    padding-left: 27px;
    background: url("../images/singerlist1.png") no-repeat 0 -30px;;
}
.c_l_content li, .c_l_content li a {
    float: left;
    width: 160px;
    height: 29px;
    line-height: 29px;
}
li {
    list-style: none;
}

.u-title {
    height: 40px;
    border-bottom: 2px solid #d3d3d3;
}
.u-title h3 {
    float: left;
    font-size: 24px;
    font-weight: normal;
}
 .f-cc {
    padding-left:10px;
}
.n-ltlst {
    margin-top: 20px;
    margin-left: -3px;
}
.n-ltlst li a.z-slt, .n-ltlst li a.z-slt:hover {
    background: #4cb6cb;
    border-radius: 2px;
    color: #fff;
}
.n-ltlst li .ch {
    width: 45px;
    height: 24px;
}
.n-ltlst li a {
    float: left;
    width: 21px;
    line-height: 24px;
    text-align: center;
}
input:focus, textarea:focus, span:focus, a:focus, button:focus {
    outline: none;
}
.f-fs0 {
    font-size: 12px;
}
.n-ltlst li {
    display: inline;
    float: left;
    margin-left: 3px;
    font-size: 14px;
}
.m-sgerlist .m-cvrlst {
    margin: 20px 0 0 -17px;
}
.m-sgerlist .m-cvrlst li {
    padding-left: 17px;
}
.m-cvrlst-5 li {
    width: 130px;
    height: 154px;
}
.m-cvrlst li {
    float: left;
    display: inline-block;
    width: 140px;
    height: 188px;
    overflow: hidden;
    padding: 0 0 30px 50px;
    line-height: 1.4;
}
.m-cvrlst li.line {
    margin-bottom: 12px;
    border-bottom: 1px dotted #999;
    padding-bottom: 0px;
}
.m-cvrlst li.sml {
    height: 30px;
    width: 130px;
    padding-bottom: 0;
    line-height: 23px;
}
.g-mn2 {
    float: right;
    width: 100%;
    margin-left: -181px;
}
.g-mn2c {
    margin-left: 181px;
}
.c_l_content  li a.z-slt, .c_l_content  li a.z-slt:hover {
    background-position: 0 0;
    text-decoration: none;
    color: #c20c0c;
}


