//
   Created by Win on 2017/3/4.
<!-- 添加到歌单弹框 -->
div(id="myModal",role="dialog",tabindex="-1",aria-labelledby="myModalLabel",aria-hidden="true",class="modal fade auto-1473474137786 m-layer z-show m-layer-w2",style="top:15%; left: 30%;")
    div#auto-id-bpDfekqTEA8M9tat.zbar
        button(type="button",class="close",data-dismiss="modal",aria-hidden="true",style="background-color: white;color:black; width: 20px;height: 20px") &times;
        div.zttl 添加到歌单
    div.zcnt
        input#listId(type="hidden")
        div#songList(class="lyct lyct-1 m-favgd f-cb",value="")
            div#newList.tit.j-flag(data-dismiss="modal",data-toggle="modal",data-target="#newbulid")
                i.u-icn.u-icn-33
                ="新歌单"
            div#auto-id-lH2ZTJaEJry8z8NG.j-flag
                ul#listpop
                    li#mylike(data-dismiss="modal",class="xtag")
                        div.item.f-cb
                            div.left
                                a(href="javascript:void(0)",class="avatar",target="_blank")
                                    img(alt="",src="http://p4.music.126.net/zPaZBLAigYIxYHg28VABdg==/3286440256922472.jpg?param=40y40")
                            p.name.f-thide
                                a(class="s-fc0",href="javascript:void(0)",target="_blank") 我喜欢的音乐
                            p.s-fc3 2首
