//
   Created by Win on 2017/3/4.
<!-- 删除歌单弹框 -->
div(role="dialog",tabindex="-1",aria-labelledby="myModalLabel",aria-hidden="true",id="delete",style="overflow-y: auto; top: 20%; bottom: 50%; left: 30%;",class="modal fade auto-1473594539484 m-layer z-show m-layer-w2")
    form(data-validate="parsley")
        div#auto-id-rZVKAsR9HnemIBlD.zbar
            div.zttl 删除歌单
        div.zcnt
            div#auto-id-I7km2EPlFaoE7uW3(class="lyct m-crgd f-cb f-tc")
                input#delete_input(name="songListId1",type="hidden")
                h2(style="padding-left: 120px; padding-bottom: 20px; font-size: 20px") 是否删除歌单？
                button(class="btn btn-s-md btn-info btn-rounded",style="margin-left:27px",id="deletebutton") 删除
                button#cancel(data-dismiss="modal",class="btn btn-s-md btn-info btn-rounded") 取消
        button(type="button" class="close zcls",data-dismiss="modal",aria-hidden="true",id="auto-id-gZz1lykTByivR2Bd",title="关闭窗体") ×
