//
   Created by Win on 2017/3/11.
div.col-sm-4
    div.panel.panel-default
        div.panel-heading 相关推荐
        div.panel-body
            article.media
                a(href="javascript:void(0);",class="pull-left thumb-md m-t-xs")
                    img(src="/images/m18.jpg")
                div.media-body
                    a.font-semibold(href="javascript:void(0);") Bootstrap 3: What you need to know
                    div.text-xs.block.m-t-xs
                        a(href="javascript:void(0);") Travel
                        =' 2 minutes ago'
            article.media
                a(href="javascript:void(0);",class="pull-left thumb-md m-t-xs")
                    img(src="/images/m19.jpg")
                div.media-body
                    a.font-semibold(href="javascript:void(0);") Lorem ipsum dolor sit amet it.
                    div.text-xs.block.m-t-xs
                        a(href="javascript:void(0);") Design
                        =' 2 hours ago'
            article.media
                a(href="javascript:void(0);",class="pull-left thumb-md m-t-xs")
                    img(src="/images/m20.jpg")
                div.media-body
                    a.font-semibold(href="javascript:void(0);") Sed diam nonummy tincidunt ut laoreet
                    div.text-xs.block.m-t-xs
                        a(href="javascript:void(0);") MFC
                        =' 1 week ago'
            article.media
                a(href="javascript:void(0);",class="pull-left thumb-md m-t-xs")
                    img(src="/images/m21.jpg")
                div.media-body
                    a.font-semibold(href="javascript:void(0);") Lonummy nibh euismod sed laoreet
                    div.text-xs.block.m-t-xs
                        a(href="javascript:void(0);") MFC
                        =' 1 week ago'
            article.media
                a(href="javascript:void(0);",class="pull-left thumb-md m-t-xs")
                    img(src="/images/m22.jpg")
                div.media-body
                    a.font-semibold(href="javascript:void(0);") Mibh euismod tincidunt ut laoreet
                    div.text-xs.block.m-t-xs
                        a(href="javascript:void(0);") MFC
                        =' 1 week ago'
